/* Button.module.css */
.button {
   border: none;
   cursor: pointer;
   transition: background 0.3s ease;
   border-radius: 8px;
}

/* Brand Default Button */
.brand {
   background: var(--Brand-Colors-600, #3328bf);
}

.brand:hover {
   background: var(--Brand-Colors-800, #292099);
}

/* Secondary Gray Default Button */
.secondaryGray {
   background: var(--Text-Colors-25, #fcfcfc);
}

.secondaryGray:hover {
   background: var(--Text-Colors-50, #fafafa);
}

/* Brand Reduce Default Button */
.brandReduce {
   background: var(--Brand-Colors-600, #3328bf);
}

.brandReduce:hover {
   background: var(--Brand-Colors-800, #292099);
}

/* Tertiary Gray Default Button */
.tertiaryGray {
   border-right: 1px dashed var(--Text-Colors-200, #d6d6d6);
   border-bottom: 1px dashed var(--Text-Colors-200, #d6d6d6);
}

.tertiaryGray:hover {
   background: var(--Brand-Colors-800);
}

/* Padding and Margin */
.sm {
   font-size: 14px;

   padding: 8px 12px;
}

.md {
   padding: 10px 14px;
   font-size: 14px;
}

.lg {
   padding: 10px var(--spacing-xl, 16px);
   font-size: 16px;
}

.xl {
   padding: 12px 18px;
   font-size: 16px;
}

.xxl {
   padding: var(--spacing-xl, 16px) 22px;
   font-size: 18px;
}
