.articleDescription {
   align-self: stretch;
   height: 14vh;
   padding: 1.6rem;
   border-radius: 0.6rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   color: #fff;
   font-size: 1.4rem;
   @include respond(laptop) {
      height: 20vh;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      padding: 2rem;
      border-radius: 0.8rem;
   }
}
.articleDescription::placeholder {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   flex: 1 0 0;

   @include respond(desktop) {
      font-size: 1.8rem;
   }
}

.createArticleSection {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin: 3rem 1rem;
   gap: 5rem;
   @include respond(laptop) {
      gap: 6rem;
      flex-direction: row;
      margin: 4rem 2rem;
   }
   @include respond(desktop) {
      gap: 7rem;
   }
}
.createArticleForm {
   border: 3px solid var(--Dark-15);
   padding: 3rem;
   border-radius: 2rem;
   display: flex;
   gap: 2rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.createArticleInputBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.createArticleLabel {
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;

   @include respond(desktop) {
      font-size: 1.8rem;
   }
}
.articleFile {
   cursor: pointer;
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   margin: 1rem 0 0 1rem;
   @include respond(desktop) {
      font-size: 1.6rem;
      margin-top: 0;
   }
}
.articleFilePreview {
   width: 10rem;
   margin-bottom: 1rem;
}
.articleHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(laptop) {
      font-size: 2rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 2.4rem;
      letter-spacing: -0.06rem;
   }
}
