.ebookHeroSection {
   display: flex;
   padding: 4rem 1.6rem 0rem 1.6rem;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 4rem;
   align-self: stretch;
   @include respond(laptop) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      padding: 0rem 8rem;
      gap: 6rem;
   }
   @include respond(desktop) {
      display: flex;
      padding: 0rem 16.2rem;
      gap: 8rem;
   }
}

.ebookHeroIntro {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 2rem;
   align-self: stretch;
   @include respond(laptop) {
      width: 31.3%;
      gap: 4rem;
      align-self: auto;
   }
   @include respond(desktop) {
      gap: 6rem;
   }
}
.ebookHeroIntroHeading {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 2.4rem;
   align-self: stretch;
   @include respond(laptop) {
      gap: 3rem;
   }
   @include respond(desktop) {
      gap: 5rem;
   }
}
.ebookHeroIntroIcon {
   width: 5rem;
   height: 5rem;
   @include respond(laptop) {
      width: 6rem;
      height: 6rem;
   }
   @include respond(desktop) {
      width: 8rem;
      height: 8rem;
   }
}
.ebookHeroIntroHeadingText {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.4rem;
   align-self: stretch;
   @include respond(laptop) {
      gap: 1rem;
   }
   @include respond(desktop) {
      gap: 1.6rem;
   }
}
.ebookHeroIntroHeadingHeader {
   color: var(--Absolute-White);
   font-family: "Kumbh Sans";
   font-size: 2.4rem;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: -0.072rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 3rem;
      letter-spacing: -0.09rem;
   }
   @include respond(desktop) {
      font-size: 4rem;
      letter-spacing: -0.12rem;
   }
}
.ebookHeroIntroHeadingP {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.ebookHeroIntroHeadingCta {
   border-radius: 0.6rem;
   cursor: pointer;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   display: flex;
   padding: 1.8rem 2rem;
   justify-content: center;
   align-items: center;
   gap: 0.4rem;
   align-self: stretch;
   @include respond(desktop) {
      border-radius: 0.8rem;
      padding: 1.8rem 2.4rem;
      gap: 1rem;
   }
}
.ebookHeroIntroHeadingCtaText {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ebookHeroIntroHeadingCtaIcon {
   width: 2rem;
   height: 2rem;

   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
.ebookHeroIntroDetails {
   display: flex;
   padding: 2rem 3rem;
   align-items: center;
   gap: 3rem;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(laptop) {
      padding: 2rem;
   }
   @include respond(desktop) {
      padding: 3rem;
      gap: 5rem;
      border-radius: 1.3rem;
   }
}
.ebookHeroIntroDetailText {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.2rem;
   @include respond(desktop) {
      gap: 0.4rem;
   }
}
.ebookHeroIntroDetailSubText {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ebookHeroIntroDetailHeadingText {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: -0.054rem;
   @include respond(laptop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
   @include respond(desktop) {
      font-size: 2.4rem;
      letter-spacing: -0.072rem;
   }
}
.ebookHeroIntroInstalledUsers {
   display: flex;
   padding: 0.8rem;
   align-items: flex-start;

   border-radius: 1.2rem;
   background: var(--Dark-08);
   @include respond(desktop) {
      padding: 1rem;
   }
}
.ebookHeroIntroInstalledUsersImg {
   width: 4rem;
   height: 4rem;
   margin-left: -15px;
   border-radius: 4.2rem;
   border: 1px solid var(--Dark-40);
   @include respond(desktop) {
      width: 5rem;
      height: 5rem;
      border: 2px solid var(--Dark-40);
   }
}

.ebookHero {
   display: flex;
   padding: 4rem 0rem;
   flex-direction: column;
   align-items: flex-end;
   gap: 2.4rem;
   align-self: stretch;
   border-top: 1px solid var(--Dark-15);
   @include respond(laptop) {
      padding: 6rem 0rem 6rem 6rem;
      flex: 1 0 0;
      border-left: 1px solid var(--Dark-15, #262626);
      border-top: none;
   }
   @include respond(desktop) {
      padding: 8rem 0rem 8rem 8rem;
      gap: 3rem;
   }
}

.ebookHeroTitle {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   align-self: stretch;
   @include respond(laptop) {
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 1.6rem;
   }
   @include respond(desktop) {
      gap: 2rem;
   }
}
.ebookHeroTitleHeading {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: -0.054rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
   @include respond(desktop) {
      font-size: 2.4rem;
      letter-spacing: -0.072rem;
   }
}
.ebookHeroTitleP {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ebookHeroImg {
   border-radius: 1rem;
   height: 28vh;

   align-self: stretch;
   @include respond(laptop) {
      height: 33.5vh;
   }
   @include respond(desktop) {
      border-radius: 1.2rem;
      height: 38.5vh;
   }
}
.ebookHeroDetails {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   align-self: stretch;
   @include respond(laptop) {
      display: grid;
      grid-template-columns: 31% 1fr;
      gap: 2rem;
   }
   @include respond(desktop) {
      gap: 3rem;
   }
}
.ebookHeroDetail {
   display: flex;
   padding: 2rem;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.2rem;
   align-self: stretch;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(laptop) {
      gap: 0.2rem;
      padding: 2.4rem;
   }
   @include respond(desktop) {
      border-radius: 1.3rem;
      padding: 3rem;
      gap: 0.4rem;
   }
}
.ebookHeroDetail:nth-of-type(3) {
   grid-column: 1 / span 2;
}
.ebookHeroDetailSubText {
   align-self: stretch;
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ebookHeroDetailText {
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: -0.048rem;
   @include respond(laptop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.ebookHeroDetailWithPerview {
   display: flex;
   padding: 2rem;
   align-items: center;
   gap: 2rem;
   align-self: stretch;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(laptop) {
      align-self: auto;
      gap: 2rem;
      flex: 1 0 0;
      padding: 2.4rem;
   }
   @include respond(desktop) {
      padding: 3rem;
      border-radius: 1.3rem;
      gap: 2rem;
   }
}
.ebookHeroDetailWithPerviewText {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.2rem;
   flex: 1 0 0;
   @include respond(desktop) {
      gap: 0.4rem;
   }
}

.ebookHeroDetailWithPerviewLink {
   display: flex;
   padding: 1.4rem 2rem;
   align-items: center;
   cursor: pointer;
   gap: 0.4rem;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   @include respond(desktop) {
      border-radius: 1.2rem;
      padding: 1.8rem 2.4rem;
      gap: 1rem;
   }
}
.ebookHeroDetailWithPerviewLinkText {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ebookHeroDetailWithPerviewLinkIcon {
   width: 2rem;
   height: 2rem;
   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}

.ourReadersSayCard {
   border-top: 1px solid var(--Dark-15);
   border-bottom: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   display: flex;
   padding: 4rem 1.6rem;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 3rem;
   align-self: stretch;
   @include respond(laptop) {
      border-top: 1px solid var(--Dark-15, #262626);
      border-bottom: 1px solid var(--Dark-15, #262626);
      background: var(--Dark-10, #1a1a1a);
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 20rem;
      padding: 8rem;
   }
   @include respond(desktop) {
      gap: 25rem;
      padding: 12rem 16.2rem;
   }
}
.ourReadersSayCardText {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   align-self: stretch;
   @include respond(laptop) {
      align-self: auto;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      gap: 1.6rem;
   }
}
.ourReadersSayCardSubHeaderBox {
   display: flex;
   padding: 0.4rem 0.8rem;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
   border-radius: 0.4rem;
   background: var(--Dark-20);
   @include respond(desktop) {
      padding: 0.6rem 1rem;
      gap: 1rem;
   }
}
.ourReadersSayCardSubHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.ourReadersSayCardHeader {
   color: var(--Absolute-White);
   font-family: "Kumbh Sans";
   font-size: 2.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: -0.084rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 4.4rem;
      letter-spacing: -0.132rem;
   }
   @include respond(desktop) {
      font-size: 5.8rem;
      letter-spacing: -0.174rem;
   }
}
.ourReadersSayCardCta {
   cursor: pointer;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   display: flex;
   padding: 1.4rem 2rem;
   justify-content: center;
   align-items: center;
   gap: 0.4rem;
   align-self: stretch;
   @include respond(laptop) {
      align-self: auto;
   }
   @include respond(desktop) {
      border-radius: 1.2rem;
      gap: 1rem;
      padding: 1.8rem 2.4rem;
   }
}
.ourReadersSayCardCtaText {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;

   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ourReadersSayCardCtaIcon {
   width: 2rem;
   height: 2rem;

   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
