.footer {
   display: flex;
   padding: 0rem 1.6rem;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
   @include respond(laptop) {
      padding: 0rem 8rem;
   }
   @include respond(desktop) {
      padding: 0rem 16.2rem;
   }
}

.footerLinks {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: flex-start;
   padding: 4rem 0rem;
   gap: 2rem;
   align-self: stretch;
   border-bottom: 1px solid var(--Dark-15);
   @include respond(laptop) {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      gap: 5rem;
      padding: 6rem 0rem;
   }
   @include respond(desktop) {
      padding: 8rem 0rem;
      gap: 8rem;
   }
}
.footerLinksColumn {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   flex: 1 0 0;
   @include respond(laptop) {
      gap: 2.8rem;
   }
   @include respond(desktop) {
      gap: 3.6rem;
   }
}

.footerLinksHeader {
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: -0.048rem;
   @include respond(laptop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.footerLinksGroup {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
   align-self: stretch;
   @include respond(laptop) {
      gap: 1.2rem;
   }
   @include respond(desktop) {
      gap: 1.8rem;
   }
}

.footerLinkItem {
   display: flex;

   list-style: none;
   align-items: center;
   gap: 0.8rem;
   align-self: stretch;
}
.footerLinkItemNew {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.036rem;
   @include respond(desktop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
}
.footerLinkItemLinkNewBox {
   border-radius: 0.4rem;
   border: 1px solid #262626;
   background: var(--Dark-10);
   display: flex;
   padding: 0.2rem 1rem;
   align-items: center;
   gap: 1rem;
   @include respond(laptop) {
   }
   @include respond(desktop) {
      padding: 0.4rem 1.2rem;
      border-radius: 0.6rem;
   }
}
.footerLinkItemLink {
   color: var(--Dark-40);
   text-decoration: none;
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.resources {
   grid-column: 1/2 span;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   align-self: stretch;
   @include respond(laptop) {
      grid-column: auto;
      flex-direction: column;
      gap: 2.8rem;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      gap: 3.6rem;
   }
}

.resource {
   cursor: pointer;
   border-radius: 0.6rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   display: flex;
   padding: 0.8rem 1.4rem;
   align-items: center;
   gap: 0.4rem;
   @include respond(desktop) {
      border-radius: 0.8rem;
      padding: 1rem 1.6rem;
      gap: 1rem;
   }
}
.resourcesConatiner {
   display: flex;
   align-items: flex-start;
   gap: 1.2rem;
   align-self: stretch;
   flex-wrap: wrap;
   @include respond(laptop) {
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
   }
   @include respond(desktop) {
      gap: 1.8rem;
   }
}
.resourcesHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: -0.048rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.resourceName {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.resourceIcon {
   width: 1.8rem;
   height: 1.8rem;
   @include respond(desktop) {
      width: 2rem;
      height: 2rem;
   }
}
.footerBar {
   display: flex;
   padding: 2.4rem 0rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   align-self: stretch;
   @include respond(laptop) {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
   }
   @include respond(desktop) {
      padding: 4rem 0rem;
   }
}

.icons {
   display: flex;
   align-items: flex-start;
   gap: 1.4rem;
   @include respond(desktop) {
      gap: 2rem;
   }
}
.icon {
   width: 2rem;
   cursor: pointer;
   height: 2rem;
   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}

.plicies {
   display: flex;
   align-items: center;
   gap: 0.8rem;
   position: relative;
   @include respond(laptop) {
      order: -1;
   }
   @include respond(desktop) {
      gap: 1.1rem;
   }
}
.pliciesLink {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.plicies:not(:last-child)::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 1px;
   background: #262626;
   left: 58%;
   transform: translateX(-50%);
}

.copyright {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
