.footer {
   display: flex;
   padding: 0rem 1.6rem;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
}

.footerLinks {
   display: flex;
   padding: 4rem 0rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 2rem;
   align-self: stretch;
   border-bottom: 1px solid var(--Dark-15);
}
.footerLinksColumn {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   flex: 1 0 0;
}
.footerLinksTwoColumn {
   display: flex;
   align-items: flex-start;
   gap: 2rem;
   align-self: stretch;
}

.footerLinksHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   align-self: stretch;
   font-weight: 500;
   line-height: 130%; 
   letter-spacing: -0.048rem;
}
.footerLinksGroup {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.8rem;
   align-self: stretch;
}

.footerLinkItem {
   display: flex;

   list-style: none;
   align-items: center;
   gap: 0.8rem;
   align-self: stretch;
}
.footerLinkItemNew {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.2rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.036rem;
}
.footerLinkItemLinkNewBox {
   border-radius: 0.4rem;
   border: 1px solid #262626;
   background: var(--Dark-10);
   display: flex;
   padding: 0.2rem 1rem;
   align-items: center;
   gap: 1rem;
}
.footerLinkItemLink {
   color: var(--Dark-40);
   text-decoration: none;
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%; 
   letter-spacing: -0.042rem;
   align-self: stretch;
}
.resources {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   align-self: stretch;
}

.resource {
   border-radius: 0.6rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   display: flex;
   padding: 0.8rem 1.4rem;
   align-items: center;
   gap: 0.4rem;
}
.resourcesConatiner {
   display: flex;
   align-items: flex-start;
   align-content: flex-start;
   gap: 1.2rem;
   align-self: stretch;
   flex-wrap: wrap;
}
.resourcesHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 500;
   line-height: 130%; 
   letter-spacing: -0.048rem;
   align-self: stretch;
}
.resourceName {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
}
.resourceIcon {
   width: 1.8rem;
   height: 1.8rem;
}
.footerBar {
   display: flex;
   padding: 2.4rem 0rem;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 2rem;
   align-self: stretch;
}
.icons {
   display: flex;
   align-items: flex-start;
   gap: 1.4rem;
}
.icon {
   width: 2rem;
   height: 2rem;
}

.plicies {
   display: flex;
   align-items: center;
   gap: 0.8rem;
   position: relative;
}
.pliciesLink {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%; 
   letter-spacing: -0.042rem;
}
.plicies:not(:last-child)::after {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 100%;
   width: 1px;
   background: #262626;
   left: 58%;
   transform: translateX(-50%);
}

.copyright {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 130%; 
   letter-spacing: -0.042rem;
}
