.futureTechRevolutionSection {
   display: flex;
   padding: 4rem 1.6rem;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 4rem;
   align-self: stretch;
   border-top: 1px solid var(--Dark-15);
   border-bottom: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(laptop) {
      padding: 8rem;
      gap: 5rem;
   }
   @include respond(desktop) {
      padding: 12rem 16.2rem;
      gap: 10rem;
   }
}

.futureTechRevolutionCard {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 2rem;
   align-self: stretch;
   @include respond(laptop) {
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      gap: 6rem;
   }
   @include respond(desktop) {
      gap: 8rem;
   }
}
.futureTechRevolutionCardHeaderIcon {
   width: 6rem;
   height: 6rem;
}
.futureTechRevolutionCardHeader {
   display: flex;
   align-items: center;
   gap: 2rem;
   align-self: stretch;
   @include respond(laptop) {
      display: none;
   }
}
.futureTechRevolutionCardHeaderTextBox {
   border-radius: 0.4rem;
   background: var(--Dark-20);
   display: flex;
   padding: 0.4rem 0.8rem;
   justify-content: center;
   align-items: flex-start;
   gap: 1rem;
}
.futureTechRevolutionCardHeaderText {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.futureTechRevolutionCardTextBox {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
   gap: 0.4rem;
   align-self: stretch;
   @include respond(laptop) {
      align-items: center;
      flex-direction: row;
      justify-content: flex-start;
      gap: 6rem;
      flex-shrink: 0;
   }
   @include respond(desktop) {
      gap: 8rem;
   }
}
.futureTechRevolutionCardHeading {
   color: var(--Absolute-White);
   font-family: "Kumbh Sans";
   font-size: 2.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 130%;
   letter-spacing: -0.084rem;
   align-self: stretch;
   @include respond(laptop) {
      display: none;
   }
}
.futureTechRevolutionCardP {
   color: var(--Grey-50);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.futureTechRevolutionCardDetails {
   border-radius: 1rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   display: flex;
   padding: 1rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   align-self: stretch;
   @include respond(laptop) {
      flex-direction: row;
   }
   @include respond(desktop) {
      padding: 2rem;
      border-radius: 1.2rem;
      gap: 2rem;
   }
}
.futureTechRevolutionCardDetail {
   border-radius: 1rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   display: flex;
   padding: 2.4rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   align-self: stretch;
   @include respond(laptop) {
      padding: 3rem;
      gap: 1.6rem;
      align-self: auto;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      padding: 4rem;
      gap: 2rem;
      border-radius: 1.2rem;
   }
}
.futureTechRevolutionCardDetailHeading {
   display: flex;
   align-items: center;
   gap: 1.6rem;
   align-self: stretch;
   @include respond(desktop) {
      gap: 2rem;
   }
}
.futureTechRevolutionCardDetailHeadingHeader {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 600;
   line-height: 150%;
   letter-spacing: -0.048rem;
   flex: 1 0 0;
   @include respond(laptop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
   @include respond(desktop) {
      font-size: 2.2rem;
      letter-spacing: -0.066rem;
   }
}
.futureTechRevolutionCardDetailIconBox {
   cursor: pointer;
   border-radius: 10rem;
   background: var(--Yellow-55);
   display: flex;
   padding: 1rem;
   align-items: flex-start;
   gap: 1rem;
   @include respond(laptop) {
      padding: 1.2rem;
   }
   @include respond(desktop) {
      padding: 1.4rem;
   }
}
.futureTechRevolutionCardDetailIcon {
   width: 2rem;
   height: 2rem;
   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
.futureTechRevolutionCardDetailP {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}

.futureTechRevolutionCardHeaderIconBiggerScreen {
   display: none;
   @include respond(laptop) {
      display: block;
      width: 12rem;
      height: 12rem;
   }
   @include respond(desktop) {
      width: 15rem;
      height: 15rem;
   }
}

.futureTechRevolutionCardHeaderTextBoxBiggerScreen {
   @include respond(laptop) {
      display: flex;
      padding: 0.4rem 0.8rem;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      border-radius: 0.4rem;
      background: var(--Dark-20, #333);
      align-self: auto;
      flex-shrink: 0;
   }
   @include respond(desktop) {
      padding: 0.6rem 1rem;
   }
}
.futureTechRevolutionCardHeadingBiggerScreen {
   @include respond(laptop) {
      color: var(--Absolute-White);
      font-family: "Kumbh Sans";

      font-style: normal;
      font-weight: 500;
      line-height: 130%;
      align-self: stretch;
      font-size: 4.4rem;
      letter-spacing: -0.132rem;
   }
   @include respond(desktop) {
      font-size: 5.8rem;
      letter-spacing: -0.174rem;
   }
}

.futureTechRevolutionCardHeaderTextBoxTitleBiggerScreen {
   display: none;
   @include respond(laptop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 1rem;
      align-self: stretch;
   }
   @include respond(desktop) {
      gap: 1.6rem;
   }
}
.futureTechRevolutionCardHeaderTextBoxDetail {
   @include respond(laptop) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      gap: 2rem;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      gap: 3rem;
   }
}
