.input {
   align-self: stretch;
   border-radius: 0.6rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   padding: 1.6rem;
   color: #fff;
   font-size: 1.4rem;
   @include respond(desktop) {
      border-radius: 0.8rem;
      padding: 2rem;
      font-size: 1.8rem;
   }
}
.input::placeholder {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   flex: 1 0 0;
   @include respond(desktop) {
      font-size: 1.8rem;
   }
}
