.navBar {
   display: flex;
   padding: 2rem 1.6rem;
   justify-content: space-between;
   align-items: center;
   align-self: stretch;
   border-top: 1px solid var(--Dark-15, #262626);
   border-bottom: 1px solid var(--Dark-15, #262626);
   background: var(--Dark-10, #1a1a1a);
}
.logo {
   width: 12.5234rem;
   height: 3.5rem;
}
.hamburgarMenu {
   width: 3.4rem;
   height: 3.4rem;
}
