.overview {
   display: flex;
   padding: 0rem 1.6rem;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
   border-top: 1px solid var(--Dark-15);

   @include respond(laptop) {
      flex-direction: row;
      gap: 5rem;
      padding: 0rem 8rem;
   }
   @include respond(desktop) {
      padding: 0rem 16.2rem;
      gap: 8rem;
   }
}
.overviewDetail {
   display: flex;
   padding: 3rem 0rem;
   flex-direction: column;
   align-items: flex-start;
   gap: 1rem;
   border-radius: 1.2rem;
   align-self: stretch;
   border-top: 1px solid var(--Dark-15);
   border-bottom: 1px solid var(--Dark-15);
   @include respond(laptop) {
      padding: 4rem 0rem;
      gap: 2rem;
      flex: 1 0 0;
      &:not(:last-child) {
         border-right: 1px solid #262626;
      }
   }
   @include respond(desktop) {
      padding: 5rem 0rem;
      gap: 3rem;
   }
}
.overviewDetailTitle {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1.6rem;
   align-self: stretch;
   @include respond(laptop) {
      gap: 2rem;
   }
   @include respond(desktop) {
      gap: 3rem;
   }
}
.overviewDetailTitleIcon {
   width: 2.9996rem;
   height: 3rem;
   @include respond(laptop) {
      width: 4rem;
      height: 4rem;
   }
   @include respond(desktop) {
      width: 5rem;
      height: 5rem;
   }
}
.overviewDetailHeadingBox {
   display: flex;
   align-items: center;
   gap: 1.4rem;
   justify-content: center;
   align-self: stretch;
   @include respond(laptop) {
      align-self: auto;
      gap: 23.5rem;
   }
}
.overviewDetailHeadingTextBox {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 0.2rem;
   flex: 1 0 0;
   @include respond(desktop) {
      gap: 0.4rem;
   }
}

.overviewDetailHeading {
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: -0.048rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
.overviewDetailP {
   color: var(--Grey-50);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.overviewIconBox {
   text-decoration: none;
   border-radius: 10rem;
   background: var(--Yellow-55);
   display: flex;
   cursor: pointer;
   padding: 1rem;
   align-items: flex-start;
   gap: 1rem;
   @include respond(laptop) {
      padding: 1.2rem;
   }
   @include respond(desktop) {
      padding: 1.4rem;
   }
}
.overviewIcon {
   width: 2rem;
   height: 2rem;
   z-index: 9999;
   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
.overviewP {
   color: var(--Grey-60);
   font-family: "Kumbh Sans";
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
}
