.container {
   background-image: url("/AbstractDesign.svg");
   background-size: cover;
   background-position: -5rem -18rem;
   background-color: rgba(0, 0, 0, 0.5); /* Overlay color */
   background-repeat: no-repeat;
   display: flex;
   padding: 10rem 4rem 4rem 4rem;
   flex-direction: column;
   justify-content: flex-end;
   align-items: flex-start;
   gap: 2rem;
   align-self: stretch;
   border-left: 1px solid var(--Dark-15);
   @include respond(laptop) {
      width: 40%;
      padding: 15rem 0rem 5rem 5rem;
   }
   @include respond(desktop) {
      padding: 15rem 0rem 8rem 8rem;
      gap: 3rem;
   }
}
.facesBehind {
   display: flex;
   padding: 0.8rem;
   align-items: flex-start;

   border-radius: 10rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(desktop) {
      padding: 1rem;
   }
}
.facesBehindImg {
   border-radius: 4.2rem;
   border: 1px solid var(--Dark-40);

   width: 4rem;
   height: 4rem;

   border-radius: 4.2rem;
   margin-left: -15px;
   border: 1px solid var(--Dark-40);

   @include respond(laptop) {
      width: 5rem;
      height: 5rem;
   }
   @include respond(desktop) {
      width: 6rem;
      height: 6rem;
   }
}

.titleHeading {
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   letter-spacing: -0.054rem;
   @include respond(laptop) {
      font-size: 2rem;
      letter-spacing: -0.06rem;
   }
   @include respond(desktop) {
      font-size: 2.4rem;
      letter-spacing: -0.072rem;
   }
}
.titleP {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   align-self: stretch;
   @include respond(laptop) {
      font-size: 1.6rem;
      letter-spacing: -0.048rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.cta {
   display: flex;
   padding: 1.4rem 2rem;
   justify-content: center;
   align-items: center;
   gap: 0.4rem;
   align-self: stretch;
   border-radius: 0.8rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   @include respond(laptop) {
      justify-content: flex-start;
      align-self: auto;
   }
   @include respond(desktop) {
      padding: 1.8rem 2.4rem;
      border-radius: 1.2rem;
      gap: 1rem;
   }
}
.ctaP {
   color: var(--Grey-60);
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   letter-spacing: -0.042rem;
   @include respond(desktop) {
      font-size: 1.8rem;
      letter-spacing: -0.054rem;
   }
}
.ctaIcon {
   width: 2rem;
   height: 2rem;
   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
