.testimonials {
   display: flex;
   padding: 0rem 1.6rem;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
   border-bottom: 1px solid var(--Dark-15);
   @include respond(laptop) {
      padding: 0rem 8rem;
      flex-direction: row;
      gap: 4rem;
   }
   @include respond(desktop) {
      gap: 5rem;
      padding: 0rem 16.2rem;
   }
}
.testimonial {
   display: flex;
   padding: 4rem 0rem;
   flex-direction: column;
   align-items: center;
   gap: 6rem;
   align-self: stretch;
   @include respond(laptop) {
      padding: 6rem 0rem;
      flex: 1 0 0;
   }
   @include respond(desktop) {
      padding: 8rem 0rem;
      flex: 1 0 0;
   }
}
.testimonialProfile {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1rem;
   align-self: stretch;
   @include respond(desktop) {
      gap: 1.2rem;
   }
}
.testimonialProfileImg {
   width: 5rem;
   height: 5rem;
   border-radius: 5rem;
   @include respond(desktop) {
      width: 6rem;
      height: 6rem;
      border-radius: 6rem;
   }
}
.testimonialProfileName {
   align-self: stretch;
   color: var(--Absolute-White);
   font-family: Inter;
   font-size: 1.8rem;
   font-style: normal;
   font-weight: 500;
   line-height: 150%;
   @include respond(desktop) {
      font-size: 2rem;
   }
}
.testimonialProfileLocation {
   color: var(--Dark-40);
   font-family: Inter;
   font-size: 1.6rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   align-self: stretch;
   @include respond(desktop) {
      font-size: 1.8rem;
   }
}
.testimonialText {
   display: flex;
   position: relative;
   flex-direction: column;
   align-items: center;

   margin-top: -1.7rem;
   align-self: stretch;
}
.testimonialStars {
   position: absolute;
   border-radius: 10rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-08);
   top: -1.8rem;
   left: 50%;
   transform: translateX(-50%);

   display: flex;
   padding: 0.8rem 1.2rem;
   align-items: flex-start;
   gap: 0.4rem;
   @include respond(desktop) {
      padding: 1rem 1.6rem;
      gap: 0.7rem;
   }
}
.testimonialStarImg {
   width: 2rem;
   height: 2rem;

   @include respond(desktop) {
      width: 2.4rem;
      height: 2.4rem;
   }
}
.testimonialTextBox {
   display: flex;
   padding: 3rem 2rem 2rem 2rem;
   align-items: flex-start;
   gap: 1rem;
   align-self: stretch;
   border-radius: 1rem;
   border: 1px solid var(--Dark-15);
   background: var(--Dark-10);
   @include respond(laptop) {
      padding: 4rem 2.4rem 2.4rem 2.4rem;
      border-radius: 1.2rem;
   }
   @include respond(desktop) {
      padding: 5rem 3rem 3rem 3rem;
   }
}
.testimonialTextP {
   flex: 1 0 0;
   color: var(--Absolute-White);
   text-align: center;
   font-family: Inter;
   font-size: 1.4rem;
   font-style: normal;
   font-weight: 400;
   line-height: 150%;
   @include respond(laptop) {
      font-size: 1.6rem;
   }
   @include respond(desktop) {
      font-size: 1.8rem;
   }
}
